KAFKA_BROKER_ID=1
KAFKA_HOST=nl2pipeline-kafka:9092
KAFKA_EXTERNAL_PORT=29092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

CASSANDRA_CLUSTER_NAME=nl2pipeline
CASSANDRA_PORT=9042

SPARK_MASTER_WEBUI_PORT=8081
SPARK_MASTER_PORT=7077
SPARK_WORKER_WEBUI_PORT=8082
SPARK_WORKER_MEMORY=2g
SPARK_WORKER_CORES=2

ZOOKEEPER_CLIENT_PORT=2181